cat <<EOF > .gitignore
# Xcode
DerivedData/
build/

# User-specific
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcuserdatad/
xcuserdata/

# SwiftPM
.build/
Packages/

# macOS
.DS_Store
EOF
combine_practice/combine_practice.xcodeproj/project.pbxproj
